@media screen and (max-width: 1280px) {


}

@media screen and (max-width: 1200px) {
   
   .how-cards {
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 170px 170px 170px;
   }

   .slider-container {
      margin-top: 50px;
      display: block;
   }

   .slider-item {
      width: auto;
      height: 300px;
      margin-bottom: 30px;
      padding: 90px 20px 20px 50px;
   }

   .slider-item--1 {
      background: url(/img/slider-1-tab.png) no-repeat;
      background-size: cover;
   }
   
   .slider-item--2 {
      background: url(/img/slider-2-tab.png) no-repeat;
      background-size: cover;
   }
   
   .slider-item--3 {
      background: url(/img/slider-3-tab.png) no-repeat;
      background-size: cover;
      margin-bottom: 0px;
   }
}

@media screen and (max-width: 1080px) {
   .header-nav {
      display: none;
   }

   .header-mob {
      display: flex;
      align-items: center;
   }

   .header-desktop {
      display: none;
   }

   p.header-text {
      display: none;
   }

   .header-phone {
      display: none;
   }

   .hero {
      padding-top: 68px;
      padding-bottom: 30px;
   }

   .hero h1{
      margin-bottom: 50px;
   }

   .hero button {
      position: relative;
      margin: 0 auto;
      margin-top: 25px;
   }
   
   .slider-container {
      margin: 0 auto;
      margin-top: 50px;
   }

   .slider-arrow-prev {
      left: -65px;
   }

   .slider-arrow-next {
      right: -65px;
   }

   .slider-item-bottom-small p {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 25px;
   }

   .offer-items {
      margin-top: 80px;
      grid-template-columns: 1fr 1fr;
   }

   .offer-item span {
      font-weight: 300;
      font-size: 40px;
      line-height: 40px;
   }

   .programms h2 {
      margin-bottom: 25px;
   }

   .how-card {
      grid-template-columns: 45px 82%;
   }

   .form {
      padding-top: 40px;
      padding-bottom: 35px;
   }

   .form h2 {
      margin: 0 auto;
      margin-bottom: 10px;
   }


   .form-2 h2 {
      max-width: unset;
      margin-bottom: 10px;
   }

   .form form {
      margin-top: 40px;
      -ms-grid-columns: 365px 20px 305px;
      grid-template-columns: 365px 305px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      grid-column-gap: 20px;
   }

   .steps {
      padding-top: 40px;
   }

   .steps-items {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 260px 260px 260px;
   }

   .benefits-cards {
      grid-template-columns: 330px 330px;
      justify-content: center;
      grid-column-gap: 30px;
      grid-row-gap: 60px;
   }

   .about-maps {
      grid-template-columns: 1fr;
      grid-gap: 20px;
   }

   .about-map {
      display: grid;
      grid-template-columns: 1fr 320px;
   }

   #popup-overlay-opd .popup{
      width: 100%;
   }

   .accordion-panel tr {
      margin: 0 20px;
      padding-top: 20px;
      padding-bottom: 15px;
   }

   .accordion-panel tr:first-child {
      margin-top: 0;
   }
}

@media screen and (max-width: 768px) {
   .how {
      padding-bottom: 60px;
   }

   .how h2 {
      max-width: 500px;
   }
   
   .benefits h2 {
      max-width: 500px;
   }

   .benefits {
      padding-bottom: 90px;
   }

   .conditions-list-item {
      grid-template-columns: 45% 1fr;
   }

}

@media screen and (max-width: 766px) {
   .tag {
      font-size: 8px;
      line-height: 9px;
      padding: 5.5px 30px;
   }

   .container {
      padding-left: 15px;
      padding-right: 15px;
   }

   .main h1 {
      font-weight: 500;
      font-size: 45px;
      line-height: 40px;
   }
  
   .main h2 {
      font-weight: 500;
      font-size: 30px;
      line-height: 30px;
   }
  
   .main h3 {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
   }
  
   .main h4 {
      font-size: 20px;
      line-height: 24px;
   }
  
   .main strong {
      font-size: 14px;
      line-height: 16px;
   }
  
   .main p {
      font-size: 12px;
      line-height: 16px;
   }

   .main p.small {
      font-size: 8px;
      line-height: 10px;
   }

   .header-container {
      padding: 12px 15px;
   }

   .header-logo {
      max-width: 220px;
   }

   .header-phone-mob img{
      max-width: 32px;
   }

   .header-burger {
      margin-left: 30px;
      max-width: 28px;
   }

   .header-burger-close {
      margin-left: 30px;
   }

   .header-burger-close__wrap::before {
      width: 60px;
      height: 60px;
      right: -15px;
      top: -15px;
   }

   .header-wrap {
      margin: 0;
      padding: 0;
   }

   .hero  {
      padding-top: 50px;
      padding-bottom: 40px;
   }

   .hero li span{
      font-size: 16px;
      line-height: 19px;
      margin-left: 10px;
   }

   .hero li img{
     max-width: 7.5px;
     transform: translateY(-8px);
   }

   .hero button {
      margin: 40px auto 0;
      right: auto;
   }

   .button--big {
      padding: 20px 25px 20px 50px;
   }

   .description {
      padding-top: 30px;
   }

   .description h2 {
      margin-bottom: 20px;
   }
   
   .description strong {
      margin-bottom: 10px;
   }
   
   .description p {
      margin-bottom: 10px;
   }

   .slider-container {
      margin-top: 30px;
   }

   .slider-item {
      height: 180px;
      padding: 34px 50px 20px 35px;
      margin-bottom: 15px;
   }

   .slider-item h3 {
      max-width: 150px;
   }

   .slider-item h3:before{
      position: absolute;
      content: url(/img/check-small.svg);
      width: 10px;
      height: 20px;
      left: -22px;
      top: -2px;
   }

   .slider-item p {
      margin-top: 10px;
      margin-bottom: 15px;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
   }
   
   .slider-item a {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.2em;
   }

   .slider-item-bottom-small p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
   }

   /* .slider-arrow {
      display: none !important;
   } */

   .offer {
      margin-top: 40px;
      padding-top: 40px;
      padding-bottom: 40px;
   }

   .offer-items {
      margin-top: 50px;
      grid-template-columns: 140px 140px;
      justify-content: center;
      grid-row-gap: 20px;
      grid-column-gap: 30px;
   }

   .offer h2{
      margin-bottom: 20px;
   }

   .offer-item p {
      margin-top: 10px;
   }

   .programms {
      padding-top: 30px;
   }
   
   .programms h2{
      margin-bottom: 20px;
   }

   .conditions {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .conditions h2{
      margin-bottom: 20px;
   }

   .conditions-list {
      margin-top: 30px;
      margin-bottom: 0px;
   }

   .conditions-list-item__left {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
   }

   .conditions-list-item__right {
      font-size: 16px;
      line-height: 19px;
   }

   .conditions-list-item {
      padding-top: 10px;
      grid-column-gap: 25px;
   }

   .how {
      padding: 40px 0;
   }

   .how-cards {
      margin-top: 40px;
      display: block;
   }

   .how-card {
      margin-bottom: 10px;
   }

   .how-card-icon {
      max-width: 30px;
   }

   .how-card {
      grid-template-columns: 30px 1fr;
      padding-bottom: 20px;
      padding-right: 5px;
   }

   .how-card h5 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
   }

   .how-card p {
      font-size: 14px;
      line-height: 17px;
   }

   .how-card-text {
      margin-left: 16px;
   }

   .steps-item__img {
      width: 60px;
      height: 60px;
      margin-top: -30px;
   }

   .steps {
      padding-bottom: 40px;
   }

   .steps-items {
      margin-top: 50px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 180px 180px 180px;
      grid-row-gap: 50px;
      grid-column-gap: 20px;
   }

   .steps-item {
      padding: 0 10px;
   }

   .steps-item h4 {
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      margin-top: 30px;
      margin-bottom: 10px;
   }

   .steps-item p {
      font-weight: normal;
      font-size: 11px;
      line-height: 17px;
   }

   .form {
      padding: 20px 0;
   }

   .form form {
      margin-top: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: 60px 60px 1fr;
   }

   .form .opd {
      grid-column: 1;
   }

   .form button:after {
      left: 60px;
   }

   .opd label {
      font-size: 16px;
      line-height: 18px;
   }

   .opd span {
      margin-left: 3px;
      font-size: 11px;
   }

   .benefits {
      padding-top: 40px;
      padding-bottom: 50px;
   }

   .benefits-cards {
      margin-top: 40px;
   }

   .benefits-card p {
      font-size: 18px;
      line-height: 18px;
   }

   .benefits-cards {
      grid-template-columns: 1fr 1fr;
   }

   .conditions__container {
      width: 100%;
      padding: 0;
   }

   .accordion-open {
      padding: 21px 78px 21px 19px;
      margin-top: 20px;
   }

   .accordion-open img {
      max-width: 30px;
   }

   .accordion-open span {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
   }

   .accordion-open:after {
      content: url(/img/plus-small.svg);
   }

   .accordion-panel tr td:first-child {
      font-size: 12px;
      line-height: 12px;
   }
  
   .accordion-panel tr td:last-child {
      font-size: 12px;
      line-height: 12px;
   }

   .accordion {
      margin-top: 30px;
   }

  
   .about-map {
      grid-template-columns: 1fr;
   }

   .about-map-text {
      padding: 5px;
   }

   .about {
      padding-top: 10px;
      padding-bottom: 30px;
   }

   .about h2 {
      margin-bottom: 20px;
      max-width: 300px;
   }

   .about p {
      margin-bottom: 10px;
   }

   .footer {
      padding-top: 20px;
      padding-bottom: 60px;
   }

   .footer p {
      /* font-weight: normal; */
      /* font-size: 8px;
      line-height: 10px; */
   }

   .footer a {
      /* font-size: 11px;
      line-height: 17px; */
   }

   .footer-links {
      margin-bottom: 55px;
   }

   p.footer-partner {
      width: fit-content;
      top: 64px;
      left: 0px;
      font-size: 11px;
      line-height: 17px;
   }

   .popup {
      width: 100%;
      padding: 40px 13px;
   }

   .popup input[type="text"] {
      width: 300px;
   }

   .popup h4 {
      font-size: 16px;
      line-height: 19px;
   }
 
}
