body {
    padding: 0;
    margin: 0;  
}

.main * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

.main h1 {
    font-weight: 500;
    font-size: 70px;
    line-height: 60px;
}

.main h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.main h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.main h4 {
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
}

.main strong {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.main p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.main p.small {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.main input[type="text"] {
    border: none;
    outline: none;
    border-radius: 5px;
    background: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    padding: 18px;
    color: #323232;
}

.tag {
    width: fit-content;
    padding: 5.5px 50px;
    background: #88C417;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 40px;
}

.open-opd {
    text-decoration: underline;
    cursor: pointer;
}

.block {
    display: block;
    font-weight: inherit;
}

.button {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
    /* width: 256px;
    height: 64px; */
    padding: 20px 25px 20px 50px;
    background: #88C417;
    border-radius: 5px;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    transition: all 0.3s;
    position: relative;
}

.button:hover:enabled {
    background: #323232;
    color: #fff;
}

a.button:hover {
    background: #323232;
    color: #fff;
}

.button:disabled {
    cursor: not-allowed;
}

.button::after {
    position: absolute;
    content: url(/img/list.svg);
    width: 10px;
    height: 20px;
    left: 25px;
    top: calc(50% - 10px);
}

.button--big {
    padding: 30px 25px 30px 50px;
}

/* header */

header {
    position: relative;
}

.header-container {
    padding: 0;
    z-index: 4;
    position: relative;
}

.header-wrap {
    margin: 0 40px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-desktop {
    display: flex;
    justify-content: flex-end;
}

.header-desktop__wrap {
    background: #182143;
}

.header-mob {
    display: none;
}

.header-logo {
    /* max-width: 277px; */
}

p.header-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.25em;
    color: #323232;
    transform: translateY(3px);
    margin-left: 60px;
}

.header-nav {
    list-style: none;
    display: flex;
    padding: 12px 0;
}

.header-nav-mob {
    list-style: none;
    padding-bottom: 30px;
    padding-top: 10px;
    position: absolute;
    background: #182143;
    width: 100%;
    z-index: 3;
    display: none;
}

.header-nav-mob li {
   margin-top: 30px;
}

.header-nav-mob li:first-child {
    margin-top: 20px;
}

.header-burger {
    cursor: pointer;
    margin-left: 80px;
}

.header-burger-close {
    
    margin-left: 82px;
    /* width: 40px; */
}

.header-burger-close__wrap {
    display: none;
    position: relative;
    z-index: 2;
}

.header-burger-close__wrap:before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 80px;
    height: 80px;
    background: #182143;
    top: -25px;
    right: -26px;
}

.header-nav-link a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    transition: all 0.2s;
    position: relative;
}

.header-nav-link a:before{
    opacity: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #88C417;
    bottom: -2px;
    transition: all 0.2s;
}

.header-nav-link a:hover:before {
    opacity: 1;
}

.header-nav-link {
    margin-right: 60px;
}

.header-nav-link:last-child{
    margin-right: 0px;
}

.header-phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #323232;
    transition: all 0.2s;
    transform: translateY(3px);
}

.header-phone:before{
    opacity: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #88C417;
    bottom: -4px;
    transition: all 0.2s;
}

.header-phone:hover:before {
    opacity: 1;
}

.header-phone-mob img{
    max-width: 48px;
}


/* hero */

.hero {
    padding-top: 270px;
    padding-bottom: 54px;
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    position: relative;
}

.hero h1 {
    color: #fff;
    margin-bottom: 45px;
}

.hero h3 {
    color: #8EE4AF;
    margin-bottom: 40px;
}

.hero ul {
    list-style: none;
    color: #fff;
}

.hero li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.hero li:last-child {
    margin-bottom: 0px;
}

.hero li span{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-left: 15px;
}

.hero button {
    position: absolute;
    bottom: 0;
    right: 40px;
}

/* description */

.description {
    padding-top: 40px;
    background: #fff;
    overflow: hidden;
}

.description h2 {
    color: #323232;
    margin-bottom: 30px;
    text-align: center;
}

.description span {
    font-weight: bold;
    color: #323232;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
}

.description p {
    /* display: inline; */
    margin-bottom: 25px;
    color: #323232;
    font-size: 16px;
    line-height: 26px;
}

/* programms */

.programms {
    position: relative;
    padding-top: 40px;
}

.programms h2 {
    color: #323232;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

/* slider */

.slider-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.slider-item {
    background: #fff;
    width: 350px;
    height: 450px;
    padding: 240px 20px 20px 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #fff; 
}

.slider-item--1 {
    background: url(/img/slider-1.png) no-repeat;
}

.slider-item--2 {
    background: url(/img/slider-2.png) no-repeat;
}

.slider-item--3 {
    background: url(/img/slider-3.png) no-repeat;
}

.slider-item h3{
    text-transform: uppercase;
    max-width: 200px;
    position: relative;
}

.slider-item h3:before{
    position: absolute;
    content: url(/img/check.svg);
    width: 15px;
    height: 30px;
    left: -30px;
}

.slider-item p{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.slider-item a{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid #88C417;
    padding-bottom: 5px;
}

.slider-arrow {
    position: absolute;
    top: calc(50% - 24px);
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.2s;
}

.slider-arrow-mob {
    color: #8EE4AF;
    opacity: 0.5;
    position: absolute;
    top: calc(50% - 24px);
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 900 !important;
    font-size: 26px !important;
    line-height: 37px !important;
    z-index: 999;
}

.slider-arrow-prev {
    left: -50px;
}

.slider-arrow-next {
    right: -50px;
}

.slider-arrow-mob-prev {
    left: 25px;
}

.slider-arrow-mob-next {
    right: 25px;
}

.slider-arrow:hover {
    opacity: 1;
}

.slick-slider {
    margin: 0 -15px;
}

.slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
}

.slick-track {
    padding: 15px 0;
}

/* offer */

.offer {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 80px;
    background: url(/img/offer-bg.jpg) no-repeat;
    background-size: cover;
    color: #fff;
}

.offer h2{
    text-align: center;
    margin-bottom: 30px;
}

.offer-items {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}

.offer-item {
    text-align: center;
}

.offer-item span {
    font-weight: 300;
    font-size: 60px;
    line-height: 45px;
    color: #88C417;
}

.offer-item p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

/* connditions */

.conditions {
    padding-top: 60px;
}

.conditions h2{
    text-align: center;
    margin-bottom: 30px;
    color: #323232;
}

.conditions-list {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
    max-width: 920px;
}

.conditions-list-item {
    border-bottom: 2px solid #88C417;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-column-gap: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.conditions-list-item__left {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
}

.conditions-list-item__right {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #182143;
}

.conditions-list-item__right--normal {
    font-weight: normal;
    color: #323232;
}

.conditions-list-item:last-child {
    border: none;
}

/* form */

.form {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(24,33,67, 0.1);
    background-image: url(../img/form-bg.svg);
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}



.form h2 {
    text-align: center;
    color: #182143;
    margin-bottom: 10px;
}

.form p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #323232;
}

.form form {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 450px max-content;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 22px;
}


.form .opd {
    grid-column: 1 / 3;
    justify-self: center;
}

.opd span {
    margin-left: 10px;
    display: inline-block;
    font-weight: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.opd input {
    display: none;
}

.opd-disabled {
    color: #323232;
}

.opd-enabled {
    color: #323232;
}

.opd input:checked ~ label .opd-disabled {
    display: none;
}

.opd input:not(:checked) ~ label .opd-enabled {
    display: none;
}

.opd label {
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
}

/* steps */

.steps {
    padding-top: 60px;
    padding-bottom: 80px;
}

.steps h2{
    color: #323232;
    text-align: center;
}

.steps-items {
    margin-top: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 260px 260px;
    grid-column-gap: 30px;
    grid-row-gap: 90px;
}

.steps-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 0 20px;
}

.steps-item__img {
    margin-top: -50px;
}

.steps-item h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #323232;
    margin-top: 40px;
    margin-bottom: 22px;
}

.steps-item p{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #323232;

}



/* benefits */

.benefits {
    padding-top: 60px;
    padding-bottom: 120px;
}

.benefits h2 {
    color: #05386B;
    max-width: 800px;
}

.benefits-cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.benefits-card {
    text-align: center;
}

.benefits-card p {
    margin-top: 25px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #212529;
}




.accordion {
    margin-top: 60px;
}

.accordeon-block {
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);
    border-radius: 10px;
}

.accordion-open {
    position: relative;
    
    padding: 29px 85px 29px 30px;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.accordion-open span{
    transform: translateY(3px);
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-left: 30px;
    color: #323232;
}

.accordion-minus {
    display: none;
}

.accordion-open:after {
    cursor: pointer;
    content: url(../img/plus.svg);
    position: absolute;
    right: 40px;
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    transition: all 0.3s;
}
  
.accordion-open.active:after {
    transform: rotate(90deg);
}

.accordion-panel {
    display: none;
}

.accordion-panel table {
    border-spacing: 0;
    width: 100%;
}

.accordion-panel a {
    font-weight: bold;
    color: #212529;
}

.accordion-panel tr {
    margin: 20px 105px;
    padding-bottom: 18px;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 50px;
    border-bottom: 2px solid #88C417;
}

.accordion-panel tr:last-child {
    border: none;
}

.accordion-panel tr:nth-child(even) {
    /* background: rgba(142,228,175, 0.3); */
}

.accordion-panel tr:nth-child(odd) {
    /* background: rgba(142,228,175, 0.15); */
}

.accordion-panel tr td:first-child {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #323232;
}

.accordion-panel tr td:last-child {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #182143;
}

.dot {
    color: #88C417;
    margin-right: 3px;
} 

/* about */

.about {
    padding: 60px 0;
}

.about h2 {
    color: #323232;
    text-align: center;
    margin-bottom: 40px;
}

.about span {
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

.about p {
    margin-bottom: 20px;
    color: #323232;
    display: block;
}



.about strong {
    display: block;
    margin-bottom: 20px;
    padding-top: 20px;
    color: #323232;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.about-maps {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 30px;
}

.about-map {
    display: grid;
    grid-template-columns: 1fr 320px;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background: rgba(24,33,67, 0.1);
}

.about-map-text {
    padding: 10px;
}

.about-map p:first-child {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #212529;
}

/* footer */

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #182143;
    color: #fff;
}

.footer-links {
    margin-bottom: 30px;
}

.footer span {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: block;
}

.footer p{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
}

.footer a{
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    width: fit-content;
}

.footer a:before{
    opacity: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #88C417;
    bottom: -2px;
    transition: all 0.2s;
}

.footer a:hover{
    text-decoration: none;
}

.footer a:hover:before {
    opacity: 1;
}

.footer-phone {
    font-weight: bold;
}

.footer p:last-child{
    margin-bottom: 0;
}

.footer-wrap {
    position: relative;
}

p.footer-partner {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.footer-partner:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #88C417;
    bottom: -2px;
    right: 0;
    transition: all 0.2s;

}

/* popup */

.popup-overlay {
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.popup {
    width: 600px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 28px !important;
    line-height: 32px !important;
    transform: rotate(45deg);
    cursor: pointer;
    color: #E0E0E0;
    transition: all 0.2s;
}

.popup-close:hover {
    color: #212529;
}

.popup h3 {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #323232;
}

.popup h4 {
    margin-bottom: 28px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #88C417;
}

.popup input[type="text"] {
    width: 450px;
    display: block;
    border: 1px solid #BDBDBD;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.popup button {
    margin-top: 20px;
    width: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.popup-form .opd i {
    font-size: 18px;
    line-height: 21px;
}

.popup-form .opd span {
    margin-left: 5px;
}

.popup-form .opd-disabled {
    color: #323232;
}

#popup-overlay-opd {
    overflow-y: scroll;
}

#popup-overlay-opd .popup{
    margin: 40px auto;
    width: 900px;
    text-align: left;
}